name: ds_common
description: Common library of altush Flutter projects - wraps Yandex Metrica, Adjust, Firebase, Fimber, etc.
version: 1.0.9
repository: https://github.com/al-tush/ds_common

environment:
  sdk: ">=3.5.0 <4.0.0"
  flutter: ">=3.24.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter

  meta: ^1.9.0
  firebase_core: ">=2.3.0 <5.0.0"
  firebase_crashlytics: ">=3.2.0 <6.0.0"
  shared_preferences: ^2.0.17
  userx_flutter: ^1.3.0
  appmetrica_plugin: ^3.1.0
#  sentry_flutter: ^8.4.0
  decimal: ^3.0.2
  package_info_plus: ^8.0.0
  firebase_remote_config: ">=4.0.0 <7.0.0"
  firebase_app_installations: ">=0.2.0 <0.4.0"
  firebase_analytics: ">=10.0.0 <12.0.0"
  cloud_functions: ">=4.0.0 <6.0.0"
  cloud_firestore: ">=4.0.0 <6.0.0"
  adjust_sdk: ^5.0.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
  tuple: ^2.0.1

flutter:
  plugin:
    platforms:
      android:
        package: pro.altush.ds_common
        pluginClass: DsCommonPlugin
      ios:
        pluginClass: DsCommonPlugin
      web:
