name: ds_common
description: Common library SectDev of Flutter projects (https://sect.dev/) - wraps Yandex Metrica, Adjust, Firebase, Fimber, etc.
version: 0.1.38
repository: https://github.com/al-tush/ds_common

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=3.10.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter

  meta: ^1.9.0
  fimber: ^0.7.0
  firebase_core: ">=2.3.0 <5.0.0"
  firebase_crashlytics: ">=3.2.0 <6.0.0"
  shared_preferences: ^2.0.17
  userx_flutter: ^1.1.2
  appmetrica_plugin: ^2.1.1
  sentry_flutter: ^8.4.0
  decimal: ^2.3.0
  package_info_plus: ^4.0.2
  firebase_remote_config: ">=4.0.0 <7.0.0"
  firebase_app_installations: ">=0.2.0 <0.4.0"
  firebase_analytics: ">=10.0.0 <12.0.0"
  cloud_functions: ">=4.0.0 <6.0.0"
  cloud_firestore: ">=4.0.0 <6.0.0"
  adjust_sdk: ^5.0.1

  # Legacy only (remove in future)
  device_info: ">=2.0.0 <2.0.3"

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0
  tuple: ^2.0.1

flutter:
  plugin:
    platforms:
      android:
        package: pro.altush.ds_common
        pluginClass: DsCommonPlugin
      ios:
        pluginClass: DsCommonPlugin
      web:
